<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/Content/custom.css" rel="stylesheet">
    <link href="~Content/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body>
    <div id="top-bar" class="container">
       
        <div class="row">
                   
            <div class="span4">               
                 <div class="control-group">
     
   
    </div>      
               
              
            </div>
            <div class="span8">
                <div class="account ">

                    <form action="/postAd/postad">
                        <input type="submit" class="btn btn-warning btn-default navbar-btn pull-right" value="Post a Free Ad" />
                    </form>
                    <form action="/registration/register">
                        <input type="submit" class="btn btn-success btn-default navbar-btn pull-right" value="Login or Register" />
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a href="/Home/index" class="logo pull-left">
                    <img src="~/Images/logo.png" class="site_logo" alt=""></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li><a href="/Home/index">Home</a>

                        </li>
                        <li><a href="/Products/products">For Sale</a></li>
                        <li><a href="/Home/aboutus">About Us</a>

                        </li>
                        <li><a href="/Home/contact">Contact Us</a></li>
                     
                    </ul>
                </nav>
            </div>
        </section>
        <section class="homepage-slider" id="home-slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="~/Images/carousel/banner-1.jpg" alt="" />
                    </li>
                    <li>
                        <img src="~/Images/carousel/banner-2.jpg" alt="" />
                        <div class="intro">
                            <h1>Post Free Ad</h1>
                            <p><span>Get Customer Fast</span></p>
                            <p><span>Best Selling Site in Pakistan</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="header_text">
            We give you the customers around pakistan in no time.Just feel free in posting your ads. 
				<br />
            Don't waste your device,just post ad and get its new owner .
        </section>
        <section class="main-content">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span12">
                            <h4 class="title">
                                <span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
                                <span class="pull-right">
                                    <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                                </span>
                            </h4>
                            <div id="myCarousel" class="myCarousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <p>
                                                        <img src="~/Images/ladies/1.jpg" alt="" /></p>
                                                    <a class="title">Ut wisi enim ad></a><br />
                                                    <a class="category">Commodo consequat</a>
                                                    <p class="price">$17.25</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <p><a>
                                                        <img src="~/Images/ladies/2.jpg" alt="" /></a></p>
                                                    <a  class="title">Quis nostrud exerci tation</a><br />
                                                    <a  class="category">Quis nostrud</a>
                                                    <p class="price">$32.50</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/ladies/3.jpg" alt="" /></a></p>
                                                    <a  class="title">Know exactly turned</a><br />
                                                    <a  class="category">Quis nostrud</a>
                                                    <p class="price">$14.20</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/ladies/4.jpg" alt="" /></a></p>
                                                    <a  class="title">You think fast</a><br />
                                                    <a  class="category">World once</a>
                                                    <p class="price">$31.45</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a>
                                                        <img src="~/Images/ladies/5.jpg" alt="" /></a></p>
                                                    <a  class="title">Know exactly</a><br />
                                                    <a  class="category">Quis nostrud</a>
                                                    <p class="price">$22.30</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/ladies/6.jpg" alt="" /></a></p>
                                                    <a  class="title">Ut wisi enim ad</a><br />
                                                    <a  class="category">Commodo consequat</a>
                                                    <p class="price">$40.25</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/ladies/7.jpg" alt="" /></a></p>
                                                    <a  class="title">You think water</a><br />
                                                    <a class="category">World once</a>
                                                    <p class="price">$10.45</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a>
                                                        <img src="~/Images/ladies/8.jpg" alt="" /></a></p>
                                                    <a  class="title">Quis nostrud exerci</a><br />
                                                    <a class="category">Quis nostrud</a>
                                                    <p class="price">$35.50</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="span12">
                            <h4 class="title">
                                <span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
                                <span class="pull-right">
                                    <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                                </span>
                            </h4>
                            <div id="myCarousel-2" class="myCarousel carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <p><a>
                                                        <img src="~/Images/cloth/bootstrap-women-ware2.jpg" alt="" /></a></p>
                                                    <a  class="title">Ut wisi enim ad</a><br />
                                                    <a  class="category">Commodo consequat</a>
                                                    <p class="price">$25.50</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/cloth/bootstrap-women-ware1.jpg" alt="" /></a></p>
                                                    <a  class="title">Quis nostrud exerci tation</a><br />
                                                    <a  class="category">Quis nostrud</a>
                                                    <p class="price">$17.55</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/cloth/bootstrap-women-ware6.jpg" alt="" /></a></p>
                                                    <a class="title">Know exactly turned</a><br />
                                                    <a class="category">Quis nostrud</a>
                                                    <p class="price">$25.30</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/cloth/bootstrap-women-ware5.jpg" alt="" /></a></p>
                                                    <a  class="title">You think fast</a><br />
                                                    <a  class="category">World once</a>
                                                    <p class="price">$25.60</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/cloth/bootstrap-women-ware4.jpg" alt="" /></a></p>
                                                    <a  class="title">Know exactly</a><br />
                                                    <a  class="category">Quis nostrud</a>
                                                    <p class="price">$45.50</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/cloth/bootstrap-women-ware3.jpg" alt="" /></a></p>
                                                    <a  class="title">Ut wisi enim ad</a><br />
                                                    <a class="category">Commodo consequat</a>
                                                    <p class="price">$33.50</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/cloth/bootstrap-women-ware2.jpg" alt="" /></a></p>
                                                    <a  class="title">You think water</a><br />
                                                    <a  class="category">World once</a>
                                                    <p class="price">$45.30</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <p><a >
                                                        <img src="~/Images/cloth/bootstrap-women-ware1.jpg" alt="" /></a></p>
                                                    <a  class="title">Quis nostrud exerci</a><br />
                                                    <a  class="category">Quis nostrud</a>
                                                    <p class="price">$25.20</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row feature_box">
                        <div class="span4">
                            <div class="service">
                                <div class="responsive">
                                    <img src="~/Images/feature_img_2.png" alt="" />
                                    <h4>MODERN <strong>DESIGN</strong></h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="service">
                                <div class="customize">
                                    <img src="~/Images/feature_img_1.png" alt="" />
                                    <h4>FREE <strong>SHIPPING</strong></h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="service">
                                <div class="support">
                                    <img src="~/Images/feature_img_3.png" alt="" />
                                    <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                                    <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our_client">
            <h4 class="title"><span class="text">Manufactures</span></h4>
            <div class="row">
                <div class="span2">
                    <a href="#">
                        <img alt="" src="~/Images/clients/14.png"></a>
                </div>
                <div class="span2">
                    <a href="#">
                        <img alt="" src="~/Images/clients/35.png"></a>
                </div>
                <div class="span2">
                    <a href="#">
                        <img alt="" src="~/Images/clients/1.png"></a>
                </div>
                <div class="span2">
                    <a href="#">
                        <img alt="" src="~/Images/clients/2.png"></a>
                </div>
                <div class="span2">
                    <a href="#">
                        <img alt="" src="~/Images/clients/3.png"></a>
                </div>
                <div class="span2">
                    <a href="#">
                        <img alt="" src="~/Images/clients/4.png"></a>
                </div>
            </div>
        </section>
        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li><a href="/Home/index">Homepage</a></li>
                        <li><a href="/Home/aboutus">About Us</a></li>
                        <li><a href="/Home/contact">Contact Us</a></li>
                        <li><a href="/Registration/register">Login</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <h4>My Account</h4>
                    <ul class="nav">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Wish List</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
                <div class="span5">
                    <p class="logo">
                        <img src="~/Images/logo.png" class="site_logo" alt=""></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
                    <br />
                    <span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>
                </div>
            </div>
        </section>
        <section id="copyright">
            <span>Copyright 2013 GetCustomers.com  All right reserved.</span>
        </section>
    </div>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/jquery.flexslider-min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $('.flexslider').flexslider({
                    animation: "fade",
                    slideshowSpeed: 4000,
                    animationSpeed: 600,
                    controlNav: false,
                    directionNav: true,
                    controlsContainer: ".flex-container" // the container that holds the flexslider
                });
            });
        });
    </script>
</body>
</html>
